{% extends "layout.html" %}
{% block content %}
This is input.html<br>
Copy & Paste this text to debug.<br>
<h1>This is test text from web browser.</h1>
<form action="/show" method="post">
    <p>Name of data <input type = "text" name = "name" /></p>
    <p>Month
    	<p><input type = "text" name = "month" /></p>
    	<p><input type = "text" name = "month" /></p>
    	<p><input type = "text" name = "month" /></p>
    	<p><input type = "text" name = "month" /></p>
    	<p><input type = "text" name = "month" /></p>
    </p>
    <p>Value
    	<p><input type ="text" name = "value" /></p>
    	<p><input type ="text" name = "value" /></p>
    	<p><input type ="text" name = "value" /></p>
    	<p><input type ="text" name = "value" /></p>
    	<p><input type ="text" name = "value" /></p>

    </p>
    <p><input type = "submit" value = "submit" /></p>

</form>
{% endblock %}